<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Cadastro_Assistencia_Tecnica.Properties.Settings.AssistenciaConnectionString"
      connectionString="Data Source=ALESSANDRA-PC\WORKGROUP;Initial Catalog=Assistencia;User ID=marco"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="index" value="1"/>
    <add key="pass" value="21322145"/>
  </appSettings>
</configuration>